body{
    margin: 0;
    text-align: center;
}

.first{
    height: 800px;
    width: 100%;
    background-color:#E4F9F5;
   
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.69em;
    color: #66BFBF;
    line-height: 2;

}

h2{
  font-family: 'Montserrat', serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
    
}

h3{
    color: #299898;
    font-size: large;
    
}

spam{
    text-decoration: underline;
}


/* Hr tag */
hr{
        border-style: none;
        border-top-style:dotted;
        width: 4%;
        border-width: 9px;
        color: rgb(205, 203, 203);
}

/* All image file */

.fimg{
    position: relative;
    left: 300px;
    top: 45px;
}

.simg{
 
    position: absolute;
    
}

.imgpro{
    width: 10em;;
}

.imgskill{
    width: 10em;
    float: left;
    margin-right: 40px;
}

.imgsskill{
    width: 10em;
    float: right;
    margin-left: 40px;;
}


/* 
class */

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.contact-me{
    margin: 45px auto 45px auto;
    line-height: 2;
}
/* 
button */

.btn{
    background-color: #11cdd4;
    border-radius: 8px;
    border-top-color: #1f628d;
    color: white ;
    margin-top:100px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-bottom-color: #11999e;

}

.btn:hover{
   background-color: #0c201d;
   
}

/* footer class */

.bottom-container{
    background-color: #66BFBF;
    padding: 50px;

}

.bottom-container a{
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    color: #11999E;
    font-weight: 900;
}

.bottom-container a:hover{
    color: aliceblue;
    text-decoration: underline;
    
}

.bottom-container p{
    color: #EAF6F6;
    font-size: 19px;
}